@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  background:#070B16;
  color:white;
}

*{
  box-sizing:border-box;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#6D5DFB;
  border-radius:20px;
}